<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syh.tccpay.mapper.PayMapper">
    <resultMap id="BaseResultMap" type="com.bskj.system.yzm.po.Yzm">
        <id column="id" property="id"/>
        <result column="userId" property="user_id"/>
        <result column="money" property="money"/>
        <result column="freezeMoney" property="freeze_money"/>
        <result column="createTime" property="create_time"/>
        <result column="updateTime" property="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
    id , user_id , money , freeze_money , create_time , update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from account
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from account
      where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.bskj.system.yzm.po.Yzm">
      insert into pay(user_id , money , freeze_money , create_time , update_time) values(#{userId} , #{money} , #{freezeMoney} , #{createTime} , #{updateTime})
    </insert>


    <update id="descride" parameterType="com.syh.api.pay.dto.PayDTO">
        update pay set money = money - #{money} , freeze_money = freeze_money + #{money} ,update_time = #{updateTime} where user_id = #{userId}
    </update>

    <update id="confirm" parameterType="com.syh.api.pay.dto.PayDTO">
      update pay set freeze_money = freeze_money - #{money} ,update_time = #{updateTime} where user_id = #{userId}
    </update>

    <update id="cancel" parameterType="com.syh.api.pay.dto.PayDTO">
        update pay set money = money + #{money} , freeze_money = freeze_money - #{money} ,update_time = #{updateTime} where user_id = #{userId}
    </update>
</mapper>